---
filter: sass
extension: css
layout: nil
---

@import compass/reset.sass

body 
  :font-family "HelveticaNeue-Light", Helvetica, Arial, sans
  :margin 0 auto
  :font-size 14px
  :line-height 21px
  :min-width 800px
  :max-width 900px
  :width 70%
  :-width 800px
  :background url(/i/background.png) top center no-repeat black

input, label
  :display block

section#contact
  :width 300px
  :display block
  :float right

section#profiles
  :width 499px
  :display block
  :float left

input
  :height 24px

textarea
  :height 200px

input, textarea
  :border 0px solid #666
  :width 300px
  :padding 4px
  :line-height 24px
  :font-size 18px
  :border-radius 3px
  :-moz-border-radius 3px
  :-webkit-border-radius 3px

section#contact 
  .input
    :width 300px
  label
    :font-style italic
    :font-size 16px
    :font-variant small-caps
    :text-align right
    :position relative
    :top -24px
    :right 1px
    :color #909090


html
  margin: 0 auto
  overflow-y: scroll
  height: 100%
  color: white

h1, h2, h3, h4, h5, h6
  :font-variant small-caps
  :font-family Helvetica, arial, sans
  :font-size 1.2em
  padding: 1em 0
  color: white


a
  color: white
  text-decoration: none

  &:hover
    color: #ed4040


.container
  width: 800px
  margin: 0 auto

header
  padding: 2em 0 2em 0
  display: block
  margin: 0 auto
  height: 120px
  h1 a
    float: left
    text-indent: -9999em
    background: url(/i/logo.png) no-repeat
    width: 302px
    height: 73px

  nav
    float: right

    a
      float: left
      padding: 0 1em
      font-size: 16pt


.current
  color: #ed4040

  &:hover
    color: white


#portfolio article
  a img
    float: left
    padding: 2em
  
  .description
    display: none
    color: #BEBEBE

#profiles
  article
    width: 400px
    float: left
    display: block
    height: 400px

  .picture
    float: left
    margin: 0 2em 2em 0
    background: white
    width: 200px
    padding: 10px
    border: solid 1px #dbdbdb
    float: left

nav.icons a
  text-indent: -999em
  display: block
  float: left
  background: url(/i/icons.png)
  height: 55px
  width: 52px
  margin: 0.5em

  &.posterous
    background-position: -220px  0

  &.twitter
    background-position: -438px   0px

  &.skype
    background-position: -385px   0px

  &.lastfm
    background-position: -55px   0px

  &.gmail
    background-position: -139px   0px

  &.ycombinator
    background-position: -493px   0px

  &.linkedin
    background-position: -110px 0px

  &.github
    background-position: 0px 0px

  &.facebook
    background-position: -548px 0px

  &.rss
    background-position: -330px 0

  &.reddit
    background-position: -275px 0

  &.pdf
    background-position: -165px 0
