<div class="yui-t5">
<div id="yui-main">
<div class="yui-b">

= blog_content

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/53cr/embed.js"></script>
<noscript><a href="http://53cr.disqus.com/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
</div>
<div class="yui-b">
<script type="text/javascript" src="http://disqus.com/forums/53cr/combination_widget.js?num_items=5&color=grey&default_tab=recent"></script>
</div>