%h2 Contact Us

#formerrors{ :style => 'display:none' }
  %p Fields outlined in red are mandatory. Please fill them in before submitting.

.yui-g#contact
  %form{ :id => 'contact', :name => 'contact', :method => 'post', :action => '/contact/send.php' }
    .yui-u.first
      %input.fancy{ :name => 'name', :id => 'name', :type => 'text', :value => '* name' }
      %br/

      %input.fancy{ :name => 'email', :id => 'email', :type => 'text', :value => '* email' }
      %br/

      %input.fancy{ :name => 'website', :id => 'website', :type => 'text', :value => 'web address' }
      %br/

      %input{ :id => 'submit', :type => 'submit', :value => 'Submit' }
      (
      %input{ :name => 'ccme', :id => 'ccme', :type => 'checkbox'}
      %label{ :for => 'ccme' } Send me a copy
      )

      .hr

      %p.light= "Don't like crazy new-fangled forms? Rather email us the old-fashioned way? Need to attach a 300GB Photoshop Document? You  can also reach us at #{link_to 'contact@53cr.com', 'mailto:contact@53cr.com'}."

    .yui-u
      %textarea{ :name => "message", :id => "message", :value => "* message" }
        * message



