#services
  .yui-gb
    .yui-u.first
      %h2 Design
      %img{ :src => '/images/services/design.png', :alt => 'Design' }
      %p We hand-code layouts that are clean, light, interactive, accessible, <a href="http://w3.org" title="World Wide Web Consortium">standards-compliant</a>, and compatible with every major browser.
    .yui-u
      %h2 Development
      %img{ :src => '/images/services/development.png', :alt => 'Development' }
      %p We use <a href="http://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a> to build highly interactive, AJAX-enabled, database-driven web applications. (We don't charge for buzzwords.)
    .yui-u
      %h2 Discussion
      %img{ :src => '/images/services/discussion.png', :alt => 'Discussion' }
      %p We also offer pure consulting services if what you need doesn't fall into the design or development categories. Let us know what you're looking for.
.hr
.yui-ge
  .yui-u.first
    #wrapper
      #chromiumblock.block
        %h2 Our Process
        %p At Chromium 53, we work closely with our clients from start to finish. We believe that regular feedback throughout development makes the end result much closer to your vision of the project (Seems obvious – if only more developers thought so!). The technical term for this feedback-driven development process is "Agile Development". Ruby on Rails enables us to provide you with working demonstrations at every step along the way. If you don't like the way something is working, you get to tell us early on.
      #stefanblock.block{ :style => "display:none;" }
        %h2 Stefan Penner
        %p Stefan Penner is a computer science student at the University of Manitoba. He needs to find a picture of himself that doesn't involve a muscle shirt.
        %p
          %a{ :href => 'mailto:stefan@53cr.com', :title => 'Email me!' } stefan@53cr.com
      #burkeblock.block{ :style => "display:none;" }
        %h2 Burke Libbey
        %p Burke Libbey is a computer engineering student at the University of Manitoba. He should probably find a new picture of himself too.
        %p
          %a{ :href => '/files/burke_libbey.vcf', :title => 'a.k.a. Address Book entry' } vCard
          |
          %a{ :href => '/files/burke_libbey.pub', :title => 'OpenPGP Public Key' } Public Key
          |
          %a{ :href => 'mailto:burke@53cr.com', :title => 'Email me!' } burke@53cr.com
  .yui-u
    %ul#photos
      %li
        %a{ :href => "#stefanblock", :title=>"Stefan Penner" }
          %img{ :src => "images/stefan.jpg", :alt => "Stefan Penner" }
      %li
        %a{ :href => "#burkeblock", :title =>"Burke Libbey" }
          %img{ :src => "images/burke.jpg", :alt => "Burke Libbey" }


