#portfolio.pf-sub
  .yui-gb
    .yui-u.first
      .portfolio-item#umes
        %img{ :src => '/images/portfolio/thumbs/umes.jpg' }
    .yui-u
      .portfolio-item#umestext
        %img{ :src => '/images/portfolio/thumbs/text.umes.jpg' }
    .yui-u
      .portfolio-item#richmondgreen
        %img{ :src => '/images/portfolio/thumbs/richmondgreen.jpg' }

  .yui-gb
    .yui-u.first
      .portfolio-item#mimc
        %img{ :src => '/images/portfolio/thumbs/mimc.jpg' }
    .yui-u
    .yui-u

#pf-umes.pf-sub{ :style => 'display: none;' }
  %p This is a closeup of UMES.
  %p
    %a{ :href => '#back' } Back to portfolio

#pf-umestext.pf-sub{ :style => 'display: none;' }
  %p This is a closeup of UMEStext.
  %p
    %a{ :href => '#back' } Back to portfolio

#pf-richmondgreen.pf-sub{ :style => 'display: none;' }
  %p This is a closeup of richmondgreen.
  %p
    %a{ :href => '#back' } Back to portfolio

#pf-mimc.pf-sub{ :style => 'display: none;' }
  %p This is a closeup of MIMC.
  %p
    %a{ :href => '#back' } Back to portfolio
