---
filter: haml
extension: html
title: Chromium 53 . Contact Us
---
%section#profiles
  %article
    %h2 Stefan Penner
    %nav.icons
      %a.github{ :href => "http://github.com/stefanpenner" } Code
      %a.lastfm{ :href => "http://github.com/stefanpenner" } Code
      %a.linkedin{ :href => "http://github.com/stefanpenner" } Code
      %a.pdf{ :href => "http://github.com/stefanpenner" } Code
      %a.posterous{ :href => "http://github.com/stefanpenner" } Code
      %a.reddit{ :href => "http://github.com/stefanpenner" } Code
      %a.rss{ :href => "http://github.com/stefanpenner" } Code
      %a.skype{ :href => "http://github.com/stefanpenner" } Code
      %a.twitter{ :href => "http://twitter.com/stefanpenner" } Twitter
      
      %a.ycombinator{ :href => "http://github.com/stefanpenner" } Code
      %a.facebook{ :href => "http://github.com/stefanpenner" } Code
   
  %article
    %h2 Burke Libbey
    %nav.icons
      %a.github{    :href => "http://github.com/burke" } Code
      %a.posterous{ :href => "http://burkelibbey.posterous.com" } Blog
      %a.twitter{   :href => "http://twitter.com/burkelibbey" } Twitter
   
  %article
    %h2 Ryan Neufeld
    %nav.icons
      %a.github{ :href => "http://github.com/rkneufeld" } Code
      %a.posterous{ :href => "http://rkneufeld.posterous.com" } Blog
      %a.twitter{ :href => "http://twitter.com/rkneufeld" } Twitter

%section#contact
  %form
    .input
      %input#name.fancyinput
      %label{:for => "name"} Name
    .input
      %input#email.fancyinput
      %label{:for => "email"} Email
    .input
      %textarea#message.fancyinput
      %label{:for => "message"} Message
    .input 
      %input#robot.fancyinput
      %label{:for => "robot"} Are you a Robot? (yes/no)
    %input{:type => "submit"}
