html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, hgroup, p,
dl, dialog, dt, dd, ol, ul, li, 
abbr, acronym, address, b, big, blockquote, 
cite, code, del, dfn, em, i, ins, kbd, pre, q, 
samp, tt, var, small, strong, sub, sup, 
object, iframe, form, fieldset, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, footer, header, nav, section,
figure, menu, time, mark, audio, video{ 
  font-family: inherit; 
  font-size: 100%; 
  font-weight: inherit; 
  font-style: inherit; 
  vertical-align: baseline; 
  white-space: normal; 
  text-align: left; 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  background: transparent; 
}

article, aside, footer, header, nav, section,
dialog, figure, hgroup, menu { 
  display: block; 
}

html {
  overflow-y:scroll;
   background: black url("../images/background.png") top center no-repeat ;
   height:100%;
   color: #bebebe;
   font-family: TimesNewRomanPSMT,sans-serif;
   font-size: 14px;
   line-height:20px;
 }
h1,h2,h3,h4,h5,h6{
  padding: 1em 0;
  color:white;
}
a { 
  color: white;
  text-decoration:none;
}
a:hover {
  color:#ed4040;
}
.container{
  width:60%;
  min-width:800px;
  max-width:1000px;
  margin:0 auto;
}
header {
  padding: 2em 0 2em 0;
  display:block;
  height:100px;
}
header h1 a {
  float:left;
  text-indent: -9999em;
  background: url("../images/logo.png") no-repeat;
  width:302px;
  height:73px;
}
header nav{
  float:right;
}

header nav a{
  float:left;
  padding:0 1em;
  font-size: 16pt;
}

.current{
  color: #ed4040;
}
.current:hover {
  color: white;
}

#portfolio article a img{
  float:left;
  padding: 2em;
}
#portfolio article .description {
  display:none;
}
#contact article{
  width:400px;
  display:block;
  height:300px;
}
#contact .picture{
  float: left;
  margin: 0 2em 2em 0;
  background: white;
  width:200px;
  padding: 10px;
  border: solid 1px #dbdbdb;
  float: left; 
}

.icons a{
  text-indent:-999em;
  display:block;
  float:left;
  background: url(../images/icons.png);
  height:35px;
  width:35px;
  margin:0.5em;
}

.icons a.posterous   { background-position:    0     0; }
.icons a.twitter     { background-position:  -35px   0px; }
.icons a.skype       { background-position:  -70px   0px; }
.icons a.lastfm      { background-position: -104px   0px; }
.icons a.gmail       { background-position: -139px   0px; }
.icons a.ycombinator { background-position: -174px   0px; }
.icons a.linkedin    { background-position:    0px -35px; }
.icons a.github      { background-position:  -35px -35px; }
.icons a.facebook    { background-position:  -70px -35px; }
.icons a.rss         { background-position: -104px -35px; }
.icons a.reddit      { background-position: -139px -35px; }
.icons a.pdf         { background-position: -174px -35px;}





